<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<title>Software Dev Project</title>   
<!-- style sheet -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!-- google api script -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDXQuaYcAVKzoIa4iYOxh8hTjjR3vmiSYY&libraries=geometry"></script>
<!-- jquery script -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 
</head>
<body>
<div id="page" data-role="page">
	<header><div><h1>Project Rothar</h1></div></header>	       
	<div id="content">       
	</div>
	<footer><div><p>Group:<br>Andrew Poole (12252073),<br>Conor Devoy (student number),<br>David O'Keeffe (student number)</p></div></footer>	
</div> 
<!-- Main script -->
<script type="text/javascript" src="/static/scripts/main.js"></script>
</body>
</html>