body {
    background:#042a2f;
    color:#ffffff;
}
#page {
    position:relative;
    float:left;
    width:100%;
}
header {
    position:fixed;
    float:left;
    z-index:2;
    width:99%;
    height:100px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border:1px outset #ffffff;
    background:#084c55;
    top:0;
}
footer {
    float:left;
    width:99.5%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border:1px outset #ffffff;
    background:#084c55;
    bottom:0;
}
h1 {
    position:relative;
    font-size: 40px;
    left:10px;
    margin-top:10px;
    margin-bottom:10px;
    padding:2px;
    line-height:70px;
    width:40%;
    text-shadow:3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font-family:"Courier New", Courier, monospace;
	letter-spacing: 10px;
    text-align:center;
}
h2{
    margin-left: 15px;
    margin-bottom: 1px;
    text-decoration: underline;
}
span{
    position:relative;
    font-size: 18px;
    left:10px;
    margin-top:10px;
    margin-bottom:10px;
    padding:2px;
    line-height:30px;
    text-shadow: 1px 1px 0px #2c2e38, 2px 2px 0px #5c5f72;
    font-family:"Courier New", Courier, monospace;
}
input[type=button] {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #084c55 5%, #042a2f 100%);
    border-radius:6px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color: #ffffff;
    font-family:"Courier New", Courier, monospace;
    font-size:15px;
    padding:1px 40px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
input[type=button]:hover {
    color: #042a2f;
    font-weight: bold;
    background:linear-gradient(to bottom, #ffffff 5%, #084c55 100%);
    /*background-color:#beff19;*/
}
input[type=button]:active {
    position:relative;
    top:1px;
}
p {
    position:relative;
    margin: 0px;
    font-size:26px;
    line-height:50px;
    text-shadow:1px 1px 0px #2c2e38, 3px 3px 0px #5c5f72;
    font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    text-align:center;
}
#content {
    position:relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:100px;
}
#map_canvas {
    position:relative;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:10px;
    margin-left:10px;
    padding:5px;
    height:800px;
    width:auto;
    border:3px inset #ffffff;
    border-radius: 40px;
}
.gm-style-iw {
    width: 350px !important;/**/
    top: 15px !important;/**/
    left: 0px !important;/**/
}
#iw-container {
    width: 350px;
}
#iw-container .iw-title {
    font-family:"Courier New", Courier, monospace;
    font-size: 24px;
    font-weight: 500;
    padding: 5px;
    background-color: #063f46;
    color:  #ffffff;
}
#iw-container .iw-content {
    font-size: 15px;
    font-weight: 500;
    background-color: #084c55;
    color:  #ffffff;
    padding: 1px 1px 1px 10px;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-subTitle {
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}
ul#days li  {
    display: inline;
    background-color: #063f46;
    color: #ffffff;
    padding: 0px 10px;
    text-decoration: none;
}
ul#days li:hover {
    background-color: #ffffff;
    color: #063f46;
}
ul {
    list-style-type: none;
    padding: 5px;
}
.js-plotly-plot {
    border:3px inset #ffffff;
}
#divider1{
    width:180px;
    height:auto;
    display:inline-block;
}
#divider2{
    width:5px;
    height:auto;
    display:inline-block;
}